.btn {
  /* height: 40px; */
  padding: 12px 25px;
  background-color: var(--global-color-0);
  color: var(--global-color-5);
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.btn:hover {
  background-color: var(--global-color-1);
  cursor: pointer;
}
