.cart {
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px;
  color: var(--global-color-7);
  background-color: #ffffffee;
  border-radius: 50%;
}

.cart:hover {
  visibility: visible;
  color: var(--global-color-8);
  background-color: rgb(255, 255, 255);
}

.product-image:hover ~ .cart {
  visibility: visible;
}

.accessory-size {
  display: flex;
  column-gap: 10px;
  margin: 5px 0;
}

.accessory-size li {
  width: 38px;
  color: black;
  text-align: center;
  border: 1px #c0c0c0 solid;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.12s ease-in-out;
}

.accessory-size li:hover {
  background-color: #df463e70;
  color: white;
}

.accessory-size .active {
  outline: 1.7px black solid;
  font-weight: 700;
}

.accessory-size .active:hover {
  border-bottom-color: inherit !important;
}

.accessory-size .inactive {
  animation: glow 1s linear backwards;
}

@keyframes glow {
  from {
    font-weight: normal;
    transform: translateY(0);
    box-shadow: none;
    outline: 1px black solid;
  }
  to {
    font-weight: 700;
    transform: translateY(3px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    outline: none;
  }
}

.shake {
  animation: shake 0.5s linear backwards;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
