/* DM_SANS */
@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM_Sans";
  src: url("../fonts/DM_Sans/DMSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* Racing_Sans_One */
@font-face {
  font-family: "Racing_Sans_One";
  src: url("../fonts/Racing_Sans_One/RacingSansOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
