.about-landing {
  height: calc(100vh + 350px);
  background-image: url("../../assets/images/bgImage/mountain-bike.jpg");
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .about-landing {
    height: calc(100vh + 35px);
  }

  .about-landing .__container {
    justify-content: flex-end;
    padding-bottom: 25px;
  }

  .explore-stories .__grid-item {
    height: 200px;
  }

  .about-landing .background-image {
    height: 500px !important;
  }
}

.about-landing .background-image {
  height: 700px;
  background-image: url("../../assets/images/bgImage/about-movie.jpg");
}

.explore-stories ._grid-container {
  min-height: 500px;
}

.explore-stories ._grid-container .__grid-item > div:hover {
  background-color: rgba(22, 22, 22, 0.33);
}

.explore-stories ._grid-container .__grid-item.col-1 {
  background-image: url("../../assets/images/bgImage/about-2002.jpg");
}
.explore-stories ._grid-container .__grid-item.col-2 {
  background-image: url("../../assets/images/bgImage/about-2004.jpg");
}
.explore-stories ._grid-container .__grid-item.col-3 {
  background-image: url("../../assets/images/bgImage/about-2005.jpg");
}
.explore-stories ._grid-container .__grid-item.col-4 {
  background-image: url("../../assets/images/bgImage/about-2005-2.jpg");
}
.explore-stories ._grid-container .__grid-item.col-5 {
  background-image: url("../../assets/images/bgImage/about-2008.jpg");
}
.explore-stories ._grid-container .__grid-item.col-6 {
  background-image: url("../../assets/images/bgImage/about-today.jpg");
}
